
 @import "bootstrap-sprockets";
 @import "bootstrap";


#wrapper {
  width: 550px;
  margin: 0 auto;
}

img {
  width: 520px;
  border: 2px solid black;
  margin-bottom: 30px;
  box-shadow: 6px 4px 20px black;
}

p {
  width: inherit;
}

.testtest {
  padding: 20px;
}
